.main-environment {
    padding: 0 1rem;
    height: 100%;
}

.preview-container {
    /*border: 1px groove #d9d9d943;
    */box-shadow: var(--shadow-lg);
    background-color: var(--bg-color-darker);
    /*padding: 1rem;
    */border-radius: 0.2rem;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.preview-container::-webkit-scrollbar {
    width: 0px !important;
}

.preview {
    min-width: 30rem;
    min-height: 30rem;
    height: 30rem;
    width: 30rem;
    max-width: 100%;
    background-color: white;
    margin: 2rem auto;
    box-shadow: var(--shadow-lg);
    overflow: hidden;
}

.preview > div {
    max-height: 100%;
    max-width: 100%;
}

.preview-label {
    display: inline-block;    /* background-color: black; */
    color: black;
    padding: 0rem 0.2rem;
    position: fixed;
    z-index: 8;
    font-size: 1.2rem;
    text-align: right;
}

.original-label,
.output-label {
    transform: translateX(1rem);
    border-color: grey !important;
}

#output-label,
#original-label {
    border-color: grey !important;
}

.preview {
    position: relative !important;
}

.preview span {
    position: absolute !important;
    top: 0;
    left: 0;
}