.withsidebars-wrapper {
    height: 100vh;
    position: relative;
    padding: 1rem 0;
}

.withsidebars {
    height: 100%;
    /* margin-top: var(--navbar-height); */
    padding-top: var(--navbar-height);
    position: relative;
}

.left-sidebar {
    /*border: 1px solid red;
    */background-color: white;
    padding: 1rem;
    box-shadow: var(--shadow-lg);
    width: var(--left-sidebar-width);
    position: fixed;
    left: 0;
    top: var(--navbar-height);
    height: calc(100% - var(--navbar-height));
    transition: transform 0.3s ease;
    overflow-y: auto;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.left-sidebar::-webkit-scrollbar {
    width: 0px !important;
}

.left-sidebar.closed {
    transform: translateX(calc(-1 * var(--left-sidebar-width))) !important;
    -webkit-transform: translateX(calc(-1 * var(--left-sidebar-width))) !important;
    -moz-transform: translateX(calc(-1 * var(--left-sidebar-width))) !important;
    -ms-transform: translateX(calc(-1 * var(--left-sidebar-width))) !important;
    -o-transform: translateX(calc(-1 * var(--left-sidebar-width))) !important;
}


.right-sidebar.closed {
    transform: translateX(calc(1 * var(--right-sidebar-width))) !important  ;
    -webkit-transform: translateX(calc(1 * var(--right-sidebar-width))) !important  ;
    -moz-transform: translateX(calc(1 * var(--right-sidebar-width))) !important  ;
    -ms-transform: translateX(calc(1 * var(--right-sidebar-width))) !important  ;
    -o-transform: translateX(calc(1 * var(--right-sidebar-width))) !important  ;
}

.middle-content {
    height: 100%;
    margin: 0 var(--right-sidebar-width) 0 var(--left-sidebar-width);
    transition: margin 0.3s ease;
}

.middle-content.no-left-sidebar {
    margin: 0 var(--right-sidebar-width) 0 0 !important;
}

.middle-content.no-right-sidebar {
    margin: 0 0 0 var(--left-sidebar-width) !important;
}

.middle-content.no-sidebars {
    margin: 0 !important;
}




.right-sidebar {
    position: fixed !important;
    background-color: white;
    padding: 1rem;
    box-shadow: var(--shadow-lg);
    right: 0;
    height: calc(100% - var(--navbar-height));
    top: var(--navbar-height);
    width: var(--right-sidebar-width);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}