@font-face {
  font-family: Nunito;
  src: url('./fonts/Nunito-Regular.ttf');
}



:root {
  --bg-color: #EEF1F4;
  --bg-color: #F7F7F7;
  --bg-color-darker: #EEF1F4;
  --primary-color: #016867;
  --secondary-color: #82C017;
  --font-color-light: #fff;
  --font-color-dark: #000;
  --font-color-lighter: #e1e1ff;
  --font-color-darker: #0d0d0d;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md:  0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl:  0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --navbar-height: 6rem;
  --left-sidebar-width: 12rem;
  --right-sidebar-width: 25rem;
  --font-family: Nunito, Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  margin: 0;
  font-family: var(--font-family) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color) !important;
  font-size: 1.6rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fs-16 {
  font-size: 1.6rem !important;
}

.fs-15 {
  font-size: 1.5rem !important;
}

.fs-14 {
  font-size: 1.4rem !important;
}

.fs-13 {
  font-size: 1.3rem !important;
}

.fs-12 {
  font-size: 1.2rem !important;
}

.fs-11 {
  font-size: 1.1rem !important;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: var(--font-family) !important;
}